doctype html
html(lang="en")
	
	include ../_incs/htmlhead.pug
	
	body
		block pageClasses
		div(id="page" class=pageClasses)
			a.skip-to-content.sr-only.sr-only-focusable(href="#main-content" tabindex="0") Skip to Main Content
			block header
			div(id="content")
				div(id="main-content" role="main")
					block content
				block footer
		include ../_incs/htmlfooter.pug