extends _layouts/master.layout.pug

block currentPageDefinition
	script.
		window._currentPage = { type: "ContentPage", params: {} };

block pageClasses
	- var pageClasses = "page"

block header
	include _incs/header.pug

block content
	.container
		.chart
		section
			h2 Section 1
			.content
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat viverra ipsum, sed tempus odio ultrices rutrum. Duis nisl metus, tempor elementum elit nec, viverra ultricies diam. Etiam in lacinia nunc, et finibus libero. Cras vestibulum, massa sagittis varius posuere, justo nulla rhoncus dolor, nec volutpat ex nibh eget lectus. Nullam consectetur lectus a facilisis volutpat. Aenean mollis augue consectetur commodo auctor. Curabitur elit urna, facilisis ultrices risus nec, tristique luctus sapien. Curabitur auctor quis leo id tincidunt.
				p Cras egestas vel lectus a iaculis. Donec vel magna nisl. Maecenas vitae varius metus. Ut blandit dolor eu lorem consectetur, sed tristique lectus mollis. Donec quis rhoncus metus. Praesent in nibh nisi. Ut lectus nulla, placerat ut convallis vel, posuere ac sem. Aliquam at enim facilisis, malesuada metus et, ultrices nisi. Nam dictum sollicitudin molestie. Vestibulum venenatis mauris sem, id congue lorem auctor vitae. Vivamus vel commodo elit, sit amet iaculis leo. Cras facilisis pulvinar augue. Donec vitae fringilla turpis. Sed ac purus enim.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat viverra ipsum, sed tempus odio ultrices rutrum. Duis nisl metus, tempor elementum elit nec, viverra ultricies diam. Etiam in lacinia nunc, et finibus libero. Cras vestibulum, massa sagittis varius posuere, justo nulla rhoncus dolor, nec volutpat ex nibh eget lectus. Nullam consectetur lectus a facilisis volutpat. Aenean mollis augue consectetur commodo auctor. Curabitur elit urna, facilisis ultrices risus nec, tristique luctus sapien. Curabitur auctor quis leo id tincidunt.
				p Cras egestas vel lectus a iaculis. Donec vel magna nisl. Maecenas vitae varius metus. Ut blandit dolor eu lorem consectetur, sed tristique lectus mollis. Donec quis rhoncus metus. Praesent in nibh nisi. Ut lectus nulla, placerat ut convallis vel, posuere ac sem. Aliquam at enim facilisis, malesuada metus et, ultrices nisi. Nam dictum sollicitudin molestie. Vestibulum venenatis mauris sem, id congue lorem auctor vitae. Vivamus vel commodo elit, sit amet iaculis leo. Cras facilisis pulvinar augue. Donec vitae fringilla turpis. Sed ac purus enim.

		section
			h2 Section 2
			.content
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat viverra ipsum, sed tempus odio ultrices rutrum. Duis nisl metus, tempor elementum elit nec, viverra ultricies diam. Etiam in lacinia nunc, et finibus libero. Cras vestibulum, massa sagittis varius posuere, justo nulla rhoncus dolor, nec volutpat ex nibh eget lectus. Nullam consectetur lectus a facilisis volutpat. Aenean mollis augue consectetur commodo auctor. Curabitur elit urna, facilisis ultrices risus nec, tristique luctus sapien. Curabitur auctor quis leo id tincidunt.
				p Cras egestas vel lectus a iaculis. Donec vel magna nisl. Maecenas vitae varius metus. Ut blandit dolor eu lorem consectetur, sed tristique lectus mollis. Donec quis rhoncus metus. Praesent in nibh nisi. Ut lectus nulla, placerat ut convallis vel, posuere ac sem. Aliquam at enim facilisis, malesuada metus et, ultrices nisi. Nam dictum sollicitudin molestie. Vestibulum venenatis mauris sem, id congue lorem auctor vitae. Vivamus vel commodo elit, sit amet iaculis leo. Cras facilisis pulvinar augue. Donec vitae fringilla turpis. Sed ac purus enim.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat viverra ipsum, sed tempus odio ultrices rutrum. Duis nisl metus, tempor elementum elit nec, viverra ultricies diam. Etiam in lacinia nunc, et finibus libero. Cras vestibulum, massa sagittis varius posuere, justo nulla rhoncus dolor, nec volutpat ex nibh eget lectus. Nullam consectetur lectus a facilisis volutpat. Aenean mollis augue consectetur commodo auctor. Curabitur elit urna, facilisis ultrices risus nec, tristique luctus sapien. Curabitur auctor quis leo id tincidunt.
				p Cras egestas vel lectus a iaculis. Donec vel magna nisl. Maecenas vitae varius metus. Ut blandit dolor eu lorem consectetur, sed tristique lectus mollis. Donec quis rhoncus metus. Praesent in nibh nisi. Ut lectus nulla, placerat ut convallis vel, posuere ac sem. Aliquam at enim facilisis, malesuada metus et, ultrices nisi. Nam dictum sollicitudin molestie. Vestibulum venenatis mauris sem, id congue lorem auctor vitae. Vivamus vel commodo elit, sit amet iaculis leo. Cras facilisis pulvinar augue. Donec vitae fringilla turpis. Sed ac purus enim.

		section
			h2 Section 3
			.content
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat viverra ipsum, sed tempus odio ultrices rutrum. Duis nisl metus, tempor elementum elit nec, viverra ultricies diam. Etiam in lacinia nunc, et finibus libero. Cras vestibulum, massa sagittis varius posuere, justo nulla rhoncus dolor, nec volutpat ex nibh eget lectus. Nullam consectetur lectus a facilisis volutpat. Aenean mollis augue consectetur commodo auctor. Curabitur elit urna, facilisis ultrices risus nec, tristique luctus sapien. Curabitur auctor quis leo id tincidunt.
				p Cras egestas vel lectus a iaculis. Donec vel magna nisl. Maecenas vitae varius metus. Ut blandit dolor eu lorem consectetur, sed tristique lectus mollis. Donec quis rhoncus metus. Praesent in nibh nisi. Ut lectus nulla, placerat ut convallis vel, posuere ac sem. Aliquam at enim facilisis, malesuada metus et, ultrices nisi. Nam dictum sollicitudin molestie. Vestibulum venenatis mauris sem, id congue lorem auctor vitae. Vivamus vel commodo elit, sit amet iaculis leo. Cras facilisis pulvinar augue. Donec vitae fringilla turpis. Sed ac purus enim.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat viverra ipsum, sed tempus odio ultrices rutrum. Duis nisl metus, tempor elementum elit nec, viverra ultricies diam. Etiam in lacinia nunc, et finibus libero. Cras vestibulum, massa sagittis varius posuere, justo nulla rhoncus dolor, nec volutpat ex nibh eget lectus. Nullam consectetur lectus a facilisis volutpat. Aenean mollis augue consectetur commodo auctor. Curabitur elit urna, facilisis ultrices risus nec, tristique luctus sapien. Curabitur auctor quis leo id tincidunt.
				p Cras egestas vel lectus a iaculis. Donec vel magna nisl. Maecenas vitae varius metus. Ut blandit dolor eu lorem consectetur, sed tristique lectus mollis. Donec quis rhoncus metus. Praesent in nibh nisi. Ut lectus nulla, placerat ut convallis vel, posuere ac sem. Aliquam at enim facilisis, malesuada metus et, ultrices nisi. Nam dictum sollicitudin molestie. Vestibulum venenatis mauris sem, id congue lorem auctor vitae. Vivamus vel commodo elit, sit amet iaculis leo. Cras facilisis pulvinar augue. Donec vitae fringilla turpis. Sed ac purus enim.
	
		section
			h2 Section 4
			.content
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat viverra ipsum, sed tempus odio ultrices rutrum. Duis nisl metus, tempor elementum elit nec, viverra ultricies diam. Etiam in lacinia nunc, et finibus libero. Cras vestibulum, massa sagittis varius posuere, justo nulla rhoncus dolor, nec volutpat ex nibh eget lectus. Nullam consectetur lectus a facilisis volutpat. Aenean mollis augue consectetur commodo auctor. Curabitur elit urna, facilisis ultrices risus nec, tristique luctus sapien. Curabitur auctor quis leo id tincidunt.
				p Cras egestas vel lectus a iaculis. Donec vel magna nisl. Maecenas vitae varius metus. Ut blandit dolor eu lorem consectetur, sed tristique lectus mollis. Donec quis rhoncus metus. Praesent in nibh nisi. Ut lectus nulla, placerat ut convallis vel, posuere ac sem. Aliquam at enim facilisis, malesuada metus et, ultrices nisi. Nam dictum sollicitudin molestie. Vestibulum venenatis mauris sem, id congue lorem auctor vitae. Vivamus vel commodo elit, sit amet iaculis leo. Cras facilisis pulvinar augue. Donec vitae fringilla turpis. Sed ac purus enim.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat viverra ipsum, sed tempus odio ultrices rutrum. Duis nisl metus, tempor elementum elit nec, viverra ultricies diam. Etiam in lacinia nunc, et finibus libero. Cras vestibulum, massa sagittis varius posuere, justo nulla rhoncus dolor, nec volutpat ex nibh eget lectus. Nullam consectetur lectus a facilisis volutpat. Aenean mollis augue consectetur commodo auctor. Curabitur elit urna, facilisis ultrices risus nec, tristique luctus sapien. Curabitur auctor quis leo id tincidunt.
				p Cras egestas vel lectus a iaculis. Donec vel magna nisl. Maecenas vitae varius metus. Ut blandit dolor eu lorem consectetur, sed tristique lectus mollis. Donec quis rhoncus metus. Praesent in nibh nisi. Ut lectus nulla, placerat ut convallis vel, posuere ac sem. Aliquam at enim facilisis, malesuada metus et, ultrices nisi. Nam dictum sollicitudin molestie. Vestibulum venenatis mauris sem, id congue lorem auctor vitae. Vivamus vel commodo elit, sit amet iaculis leo. Cras facilisis pulvinar augue. Donec vitae fringilla turpis. Sed ac purus enim.
		
	
	

	